/* browser reset */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* open sans font */
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Light.ttf);
font-display: swap;
font-weight: 100; }
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
font-display: swap;
font-weight: 400; }
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Semibold.ttf);
font-display: swap;
font-weight: 600; }
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
font-display: swap;
font-weight: 700; }
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
font-display: swap;
font-weight: 900; }
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf);
font-display: swap;
font-weight: 100;
font-style: italic; }
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-Italic.ttf);
font-display: swap;
font-weight: 400;
font-style: italic; }
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-SemiboldItalic.ttf);
font-display: swap;
font-weight: 600;
font-style: italic; }
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-BoldItalic.ttf);
font-display: swap;
font-weight: 700;
font-style: italic; }
@font-face
{ font-family: OpenSans; src: url(../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf);
font-display: swap;
font-weight: 900;
font-style: italic; }

/* setup of grid */
.gridcontainer {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    width: 90vw;
    height: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 1800px;
    background-color: transparent;
    grid-template-areas: 
        ". dayplan dayplan dayplan dayplan dayplan latest latest latest latest latest ."
        ". now now now now now now now now now now ."
        ". animals animals animals animals animals animals animals animals animals animals ."
        ;
}

body {
    background-color: #2C2C2C;
    overflow-x: hidden;
}

.hero-image {
    background-image: linear-gradient(rgba(141, 141, 136, 0.34), rgba(141, 141, 136, 0.34)), url("../images/tiger-hero-image.jpg");
    width: 100vw;
    min-height: 37.5vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}

.header-wrapper {
    position: relative;
    max-width: 1800px;
    width: 90vw;
    margin: auto;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 70px;
    grid-template-rows: 18.75vw 18.75vw;
    grid-template-areas: 
        "logo ticket menu"
        "herotext . ."
        ;
}

.logo {
    grid-area: logo;
    padding-top: 50px;
}

.logo img {
    height: 70px;
}

.menu-icon {
    grid-area: menu;
    justify-self: end;
    padding-top: 50px;
    position: relative;
    z-index: 11;
}

.menu-icon img {
    height: 55px;
    border: 3px solid #fff;
}
/* fills button in on hover */
.menu-icon img:hover {
    box-shadow: inset 0 0 0 2em #a0a0a0;
    transition: 0.25s;
    cursor: pointer;
}

.ticket {
    grid-area: ticket;
    background-color: transparent;
    border: 3px solid #fff;
    height: 55px;
    width: 130px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-self: end;
    display: inline-block;
    text-align: center;
    outline: 0;
    margin-top: 50px;
    position: relative;
    z-index: 11;
}

.ticket:hover {
    box-shadow: inset 0 0 0 2em #a0a0a0;
    transition: 0.25s;
    cursor: pointer;
}

.hero-text {
    grid-area: herotext;
    display: inline-block;
    align-self: end;
    padding-bottom: 35px;
}

h1 {
    font-weight: 700;
    font-size: 76px;
    color: #fff;
}

h2 {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.dayplan {
    grid-area: dayplan;
    margin-top: 120px;
    height: auto;
    padding-right: 30px;
}

.latest {
    grid-area: latest;
    margin-top: 120px;
    padding-left: 30px;
}

.bulletpointlist {
    display: grid;
    grid-row-gap: 25px;
    padding-top: 50px;
    grid-template-areas: 
        "bone"
        "btwo"
        "bthree"
        "bfour"
        "bfive"
        "bsix"
        ;
}

.bullet {
    background-color: #fff;
    height: 120px;
    border-radius: 4px;
}

.time {
    background-color: #9D2429;
    height: 120px;
    width: 140px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;
}

p.timetext {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-top: 27px;
}

.eventdetails {
    float: left;
    padding-left: 20px;
    padding-top: 40px;
    font-size: 22px;
}

.bulletone {
    grid-area: bone;
}

.bullettwo {
    grid-area: btwo;
}

.bulletthree {
    grid-area: bthree;
}

.bulletfour {
    grid-area: bfour;
}

.bulletfive {
    grid-area: bfive;
}

.bulletsix {
    grid-area: bsix;
}

.latestwrapper {
    display: grid;
    background-color: #fff;
    border-radius: 4px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    padding: 12px;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 845px;
}

.latestthumbs {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.overlay {
    position: relative;
}

.overlay:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.overlay:hover:after {
    opacity: 1;
    background-image: url(../images/facebook-white-vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% 40%;
    transition: .5s;
}

.latest1 {
    background-image: url(../images/latest1.jpg);
}

.latest2 {
    background-image: url(../images/latest2.jpg);
}

.latest3 {
    background-image: url(../images/latest3.jpg);
}

.latest4 {
    background-image: url(../images/latest4.jpg);
}

.latest5 {
    background-image: url(../images/latest5.jpg);
}

.latest6 {
    background-image: url(../images/latest6.jpg);
}

.animallist {
    grid-area: animals;
    margin-top: 120px;
    margin-bottom: 50px;
}

.specieswrapper {
    margin-top: 50px;
    display: grid;
    overflow: hidden;
    /*margin-bottom: 50px;*/
    grid-template-columns: repeat(4,25%);
    grid-column-gap: 0px;
    grid-template-areas: 
        "mammal fish reptile bird"
        ;
}

/*.speciesoverlay {
    position: absolute;
    z-index: 100;
    height: 600px;
    width: 74.78vw;
    max-width: 58.48vw;
    background-size: cover;
    background-image: linear-gradient(rgba(141, 141, 136, 0.34), rgba(141, 141, 136, 0.34));
}*/

.species {
    height: 600px;
}

.mammals {
    grid-area: mammal;
    background-image: linear-gradient(rgba(178, 178, 187, 0.2), rgba(178, 178, 187, 0.2)), url("../images/mammals-crop.jpg");
}

.fish {
    grid-area: fish;
    background-image: linear-gradient(rgba(178, 178, 187, 0.2), rgba(178, 178, 187, 0.2)), url("../images/fish-crop.jpg");
}

.reptiles {
    grid-area: reptile;
    background-image: linear-gradient(rgba(178, 178, 187, 0.2), rgba(178, 178, 187, 0.2)), url("../images/reptiles-crop.jpg");
}

.birds {
    grid-area: bird;
    background-image: linear-gradient(rgba(178, 178, 187, 0.2), rgba(178, 178, 187, 0.2)), url("../images/birds-crop.jpg");
}

.speciestextoverlay {
    margin-left: 5%;
    padding-top: 400px;;
}

.linebreaker {
    height: 5px;
    width: 80%;
    background-color: #fff;
    margin-top: 8%;
    margin-bottom: 3%;
}

.speciestext {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.happeningnow {
    grid-area: now;
    margin-top: 120px;
}

.cardwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.cardimg {
    max-width: 100%;
    /*height: 240px;*/
}

.cardheader {
    color: #000;
}

.cardtext {
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.footerwrapper {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.footertext {
    color: #fff;
    padding-top: 10px;
    font-size: 12px;
}

.footerbackground {
    position: absolute;
    background-color: #000;
    z-index: -1;
    width: 100%;
    height: 28vh;
}

.dropmenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 10vh;
    padding-left: 10px;
    padding-right: 5vw;
    background-color: rgba(79, 79, 79, 0.8);
    width: calc(35% + 10px);
    height: 100%;
    z-index: 10;
    /*border-left: 5px solid #eaeaea;*/
}

.dropmenu.active {
    animation: slidein .5s;
}

.active {
    display: inline-block;
    position: fixed;
}

.fixed {
    position: fixed;
    right: calc(5vw + 53px);
}

.tab {
    display: block;
    color: #fff;
    text-decoration-line: none;
    font-size: 2em;
    position: relative;
    left: 20px;
    margin-top: 14px;
    white-space: nowrap;
}

ul {
    list-style: none;
    text-align: right;
}

.menu-icon.active {
    position: relative;
}

@keyframes slidein {
    0% {width: 0px;}
    100% {width: calc(35% + 10px);}
}

@media only screen and (min-width: 1921px) {
    .dropmenu {
        padding-right: 363px;
    }
    
    .fixed {
        right: calc(363px + 70px);
    }
}

/* Responsiveness for devices of screen width 1024px and below */
@media only screen and (max-width: 1024px) {
    @keyframes slidein {
        0% {width: 0px;}
        100% {width: 60%;}
    }
    .dropmenu {
        width: 60%;
    }
    
    .fixed {
        position: fixed;
        right: auto;
    }
    .hero-image {
        width: 100%;
        min-height: 30vh;
    }
    
    .header-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px 1fr 10vh;
        grid-template-areas: 
            "ticket . menu"
            "logo logo logo"
            "herotext herotext herotext"
            ;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1em;
    }
    
    .logo {
        padding-top: 75px;
    }
    
    .logo img {
        width: 100%;
        height: auto;
    }
    
    .hero-text {
        margin-top: 10px;
    }
    
    /* setup of grid */
    .gridcontainer {
        grid-template-columns: repeat(6,1fr);
        grid-column-gap: 0px;
        grid-template-areas: 
            "dayplan dayplan dayplan dayplan dayplan dayplan"
            "latest latest latest latest latest latest"
            "now now now now now now"
            "animals animals animals animals animals animals"
            ;
    }
    
    .dayplan {
        margin-top: 70px;
        padding-right: 0px;
    }
    
    .bulletpointlist {
        padding-top: 20px;
    }
    
    .bullet {
        height: 70px;
    }
    
    .time {
        height: 70px;
        width: 100px;
    }
    
    p.timetext {
        padding-top: .5em;
        font-size: 1.8em;
    }
    
    .eventdetails {
        padding-left: 10px;
        padding-top: 1.5em;
        font-size: 1em;
    }
    
    .latest {
        margin-top: 70px;
        padding-left: 0px;
    }
    
    .latestwrapper {
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 2000px;
    }
    
    .happeningnow {
        margin-top: 70px;
    }
    
    .cardwrapper {
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
    
    .animallist {
        margin-top: 70px;
    }
    
    .specieswrapper {
        margin-top: 20px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "mammal fish"
            "reptile bird"
            ;
    }
    
    .species {
        height: 300px;
        min-width: 100%;
        background-position: top;
        /*background-repeat: no-repeat;*/
    }
    
    .speciestextoverlay {
        height: 300px;
        padding-top: 11.5em;
    }
    
    .speciestext {
        font-size: 1.3em;
    }
    
    .cardimg {
        width: 100%;
    }
    
    .ticket {
        justify-self: start;
    }
}

/* Responsiveness for devices of screen width 600px and below */
@media only screen and (max-width: 600px) {
.latestwrapper {
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 1000px;
    }
    
    .footerbackground {
        height: auto;
        padding-bottom: 20px;
    }
    
    @keyframes slidein {
        0% {width: 0px;}
        100% {width: 100%;}
    }
    
    .dropmenu {
        width: 100%;
        padding-top: 120px;
    }
    
    .tab {
        font-size: 1.5em;
        padding-right: 5vw;
    }
}